<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.baobao.server.mapper.UserMapper">

    <insert id="insertOneUser" parameterType="cn.baobao.server.pojo.User">
        INSERT INTO user(`id`, `phone`, `password`, `name`, `address`)
        VALUES (#{user.id}, #{user.phone}, #{user.password}, #{user.name}, #{user.address})
    </insert>

    <insert id="updateBySign">
        INSERT INTO signinfo(uid, signdate) VALUE (#{uid}, #{now})
    </insert>

    <select id="isTodaySign" resultType="java.lang.Integer">
        SELECT COUNT(uid)
        FROM signinfo
        WHERE uid = #{uid}
          AND signdate = #{now}
    </select>

    <update id="UserPointIncrOne" parameterType="java.lang.String">
        UPDATE `user`
        SET total_point   = total_point + 1,
            current_point = current_point + 1
        WHERE id = #{uid}
    </update>
</mapper>
